.menu_card {
    min-width: 283px;
    height: 435px;
    border: 1px solid rgba(47, 42, 47, 0.63);
    margin-right: 10px;
    background-color: black;
    overflow-y: scroll;
}
.card {
    background-color: black;
    color: white;
    width: 241px;
    min-height: 27.13px;
    margin: 0 18px 15px 21px;
    display: flex;
    align-items: flex-start;
    /* background: ${{props} => }; */
}

.menu-name {
    color: rgba(214, 107, 128, 1);
    text-transform: uppercase;
    font-family: "Montaga";
    font-size: 14px;
    line-height: 17.25px;
}
.menu-name-wrapper {
    width: 100%;
    max-width: 194px;
    text-align: start;
    color: rgba(228, 216, 206, 0.8);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: lowercase;
}

.menu-header-card {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    color: rgba(228, 216, 206, 1);
    margin: 20px 18px 19px 21px;
    text-align: start;
}

.menu-price {
    margin-left: 11px;
}

.sub {
    flex-direction: column;
}

.wrapper-submenu {
    display: flex;
    margin: 10px 0;
    width: 100%;
}