.menu-wrapper {
    width: 100%;
    background-image: url(../../photo/backgroundMenu.png);
    background-size: 100%;
}

.menu-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 832px;
    max-width: 864px;
    margin: auto;
}

.menu-cards {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.description_wrapper {
    display: flex;
    max-width: 864px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
}

.menu_names {
    display: flex;
}

.menu_names>div {
    padding-right: 20px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-transform: uppercase;
}