.contact-wrapper {
    width: 100%;
    background-image: url(../../photo/backgroundContacts.png);
    background-size: cover;
    min-height: 373px;
    background-position: center;
}

.contact-contact {
    max-width: 864px;
    min-height: 373px;
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    min-width: 250px;
    min-height: 260px;
    margin-right: 15px;
}

.contact-information {
    display: flex;
}

.contacts-buttons-book {
    border-style: solid;
    border-width: 1px;
    height: 60px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-image: linear-gradient(180deg, #D28596 0%, #C16C7D 100%) 1;
    background: #D66B80;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
    font-family: "Montserrat";
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.contacts-buttons-book:hover {
    text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.67);
}

.contacts-buttons-book:active {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
}

.contacts-buttons-place {
    border-style: solid;
    border-width: 1px;
    height: 60px;
    min-width: 250px;
    border-image: linear-gradient(180deg, #393737 0%, #2F2D2E 100%) 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 40, 40, 0.95);
    color: rgba(224, 112, 134, 1);
    text-transform: uppercase;
    cursor: pointer;
}

.contacts-buttons-place:hover {
    text-shadow: 0px 0px 14px rgba(203, 203, 203, 0.63);
}
.contacts-buttons-place:active {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
}

.contacts-first>div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    min-height: 25px;
    align-items: flex-start;
}

.contacts-first:nth-child(2n + 1) {
    font-size: 16px;
}


.contacts-first>div:first-child {
    margin-bottom: 14px;
}

.contacts-two>div {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    height: 25px;
    font-family: "Literata";
}

.contacts-two>div:first-child {
    margin-bottom: 17px;
}

.contacts-header {
    font-family: "Montaga";
    font-size: 20px;
}
.contact-map-map {
    width: 335px;
    height: 258px;
}

.days {
    color: rgba(214, 107, 128, 1);
    width: 56px;
    font-size: 16px;
}

.contact-logo-point {
    margin-right: 5px;
}

.contact-phone-number {
    text-decoration: none;
    color: rgba(228, 216, 206, 1);
}
.button-reserved-mob {
    display: none;
}



@media (max-width: 560px) {
    .contact-contact {
        flex-direction: column;
        padding: 90px 0;
        align-items: center;
    }
    .button-reserved {
        display: none;
    }
    .button-reserved-mob {
        display: block;
    }
    .contacts-wrapper{
        justify-content: center;
        min-height: 200px;
        align-items: center;
        margin-right: 0; 
    }
    .button-reserved-mob {
        margin: 15px 0;
    }
    .contacts-buttons-place {
        margin-bottom: 40px;
    }
    .contacts-header {
        justify-content: center;
    }
    .contacts-first>div  {
        align-items: center;
    }
    .contact-information {
        flex-direction: column;
    }
    .contact-media{
        justify-content: center
    }
    .contact-map-map {
        width: 290px;
        height: 250px;
        margin-top: 0;
    }
}


@media (max-width: 900px) {
    .contact-contact {
        flex-direction: column;
    }
    .contact-map-map {
        margin-top: 20px;
    }
}