.about-wrapper {
    width: 100%;
    background-image: url(../../photo/backgroundAboutBar.png);
    width: 100%;
    background-size: cover;
}

.about-about {
    max-width: 864px;
    width: 100%;
    margin: auto;
    height: 832px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-mini-galery {
    display: flex;
    margin-top: 10px;
}

.about-mini-galery>img {
}

.about-about-big-gallery {
    display: flex;
    flex-direction: column;
    max-height: 702px;
    height: 100%;
    justify-content: space-between;
}

.about-about-description {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 702px;
    height: 100%;
    margin-left: 5px;
}

.about-about-description-gallery {
    display: flex;
    flex-wrap: wrap;
    max-height: 312px;
    height: 100%;
    align-content: space-between;
}

.about-about-description-gallery>img {
    margin: 0 3px;
    cursor: pointer;
    filter: grayscale(100%);
}

.about-about-mini-gallery {
    display: flex;
    margin-top: 10px;
}
.about-about-mini-gallery>img {
    margin: 0 4px;
    cursor: pointer;
    filter: grayscale(100%);
}
.hide {
    filter: none!important;
}

.page-descriptions-text {
    text-align: start;
}
.about-photo-mobil {
    display: none;
}

@media (max-width: 900px) {
    .about-about-big-gallery {
        display: none;
    }
    .about-about-description-gallery {
        display: none;
    }
    .about-about {
        max-width: 290px;
    }
    .about-photo-mobil {
        display: block;
    }
}