.header-wrapper {
    background-image: url(../../photo/backgroundHeader.png);
    width: 100%;
    background-size: cover;
}

.header-header {
    max-width: 864px;
    width: 100%;
    height: 83px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #EDE0CD;
    font-weight: 400;
}


.header-menu {
    display: flex;
    text-transform: uppercase;
}
.header-menu>div {
    padding: 0 15px 0 0;
    cursor: pointer;
}
.header-adress {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    font-weight: 600;
}
.header-menu-mobil {
    display: none;
}
.header-current-adress {
    max-width: 275px;
}


@media (max-width: 900px) {
    .header-header {
        min-width: 290px;
        margin: 0 12px;
        width: auto;
    }
    .header-menu>div {
        display: none;
    }
    .header-menu-mobil {
        display: block;
    }
}