.footer-footer {
    height: 85px;
    width: 100%;
    background-color: rgb(30, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(60, 57, 53, 1);
    font-family: "PT Sans Narrow";
    text-transform: uppercase;
}

.bar {
    color: rgba(228, 216, 206, 1);
}