.general-general {
    height: 749px;
    width: 100%;
    background-color: black;
    border-top: 1px solid #E4D8CECC;
    border-bottom: 1px solid #E4D8CECC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #E4D8CECC;
}

.general-general>div {
    margin: 0 21px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 16px;
    align-items: center
}
.general-description {
    max-width: 497px;
}
.general-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.general-bar-description>div {
    margin: 0 0 15px;
}
.general-buttons>div{
    border-style: solid;
    border-width: 1px;
    height: 60px;
    width: 240px;
    border-image: linear-gradient(180deg, #393737 0%, #2F2D2E 100%) 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 40, 40, 0.95);
    color: rgba(224, 112, 134, 1);
}
.general-buttons>:first-child {
    border-image: linear-gradient(180deg, #D28596 0%, #C16C7D 100%) 1;
    background: #D66B80;
    color: rgba(51, 51, 51, 1);
}