
.general-general-wrapper {
    background-image: url(../../photo/backgroundGeneral.png);
    background-size: cover;
    background-position: center;
}

.general-general {
    max-width: 864px;
    margin: auto;
    height: 749px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E4D8CECC;
}

.general-general>div {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 16px;
    align-items: center
}

.general-description {
    max-width: 497px;
}


.general-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.general-bar-description>div {
    margin: 0 0 40px;
}

.general-buttons>div {
    border-style: solid;
    border-width: 1px;
    height: 60px;
    width: 240px;
    border-image: linear-gradient(180deg, #393737 0%, #2F2D2E 100%) 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(41, 40, 40, 0.95);
    color: rgba(224, 112, 134, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.general-buttons>div:hover {
    text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.67);
}

.general-buttons>div:active {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
}

.general-buttons>:first-child {
    border-image: linear-gradient(180deg, #D28596 0%, #C16C7D 100%) 1;
    background: #D66B80;
    color: rgba(51, 51, 51, 1);
}

@media (max-width: 900px) {
    .general-horse {
        display: none!important;
    }   
    .general-general {
        justify-content: center;
    }
    
    .general-buttons>div {
        margin-bottom: 15px!important;
        margin-right: 10px;
        width: 230px;
    }
    .general-description {
        max-width: 290px;
    }
    .general-logo {
        width: 204px!important;
        height: 127px!important;
    }
}
@media (max-width: 500px) {
    .general-buttons {
        flex-direction: column;
        align-items: center;
    }
}