.App {
  text-align: center;
  /* font-family: 'Beau Rivage', cursive; */
  font-size: 17px;
  font-family: "Montserrat";
  color: rgba(228, 216, 206, 1);
}

.open-popup {
  overflow: hidden;
}

html {
  background-color: black;
}

body {
  margin: 0;
}

.montserrat {
  font-family: 'Montserrat';
  font-size: 14px;
}
.Narrow {
  font-family: 'PT Sans Narrow';
  font-size: 64px;
  text-transform: uppercase;
}
.montaga {
  font-family: 'Montaga';
  font-size: 16px;
}
.Beau {
  font-family: 'Beau Rivage', cursive;
  font-size: 128px;
}

.pages-number {
  color: rgba(214, 107, 128, 1);
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 59px;
}

.pages-description {
  font-family: "PT Sans Narrow";
  font-size: 64px;
  line-height: 80px;
  text-transform: uppercase;
}